img {
    box-shadow: 0px 0px 15px rgb(49, 49, 49);
    
  }
  .vertical {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: small;
  }
  .card {
    border: none;
  }
  
  @media (min-width: 1200px) {
    .col:nth-child(3n + 2) {
      margin-top: 5rem;
    }
  }
  @media (max-width: 1200px) {
    .col:nth-child(3n + 2) {
      margin-top: 0;
    }
    .col:nth-child(2n + 2) {
      margin-top: 5rem;
    }
  }
  @media (max-width: 768px) {
  
    .col:nth-child(2n + 2) {
      margin-top: 0rem;
    }
  }